.navbar {
	background: #9DA3A4;
}


.navbar-default .navbar-brand {
	color: #333333;
}

.container-map {
	width: 100%;
	height: 100%;

}

.container-map,
#main {
	min-height: 550px;
	width: 100%;
	height: 100%;
}

.leaflet-container,
.leaflet-container-default {
	min-height: 800px;
}

.save_map {
	position: absolute;
	top: 75px;
	right: 25px;
	border-radius: 3px;
	border: 1px solid #8e44ad;
	background: #9b59b6;
	color: #f1c40f;
}

.save_map:hover {
	background: rgba(155,89,182, 0.5);
	border: 1px solid #f39c12;

}

.save_map:hover span {
	color: #9b59b6;
}

.save_map:focus,
.delete_zone:focus {
	outline: none;
}

.save_map span {
	color: #f1c40f;
}

.delete_zone {
	position: absolute;
	top: 105px;
	right: 25px;
	border-radius: 3px;
	border: 1px solid #f39c12;
	background: #f1c40f;
	color: #9b59b6; 
}

.delete_zone:hover {
	background: rgba(241,196,15,0.5);
	border: 1px solid #8e44ad;
}

.shapes-saved,
.shapes-failed {
	position: absolute;
	bottom: 25px;
	right: 25px;
	margin: 0px auto;
	width: 200px;
	display: none;
}

#zone_meta {
	position: absolute;
	width: 200px;
	height: auto;
	top: 150px;
	right: 25px;
}